

**Question 6** 


Using the data from Question 3, write code to analyze the data and answer the following questions. 

Note
1.Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding

Insights to be drawn -

- Get all Pokemons whose spawn rate is less than 5%
- Get all Pokemons that have less than 4 weaknesses
- Get all Pokemons that have no multipliers at all
- Get all Pokemons that do not have more than 2 evolutions
- Get all Pokemons whose spawn time is less than 300 seconds.
- Get all Pokemon who have more than two types of capabilities

Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.

In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('Pokemon.csv')

In [3]:
df.head()

,Unnamed: 0,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25,0,0.690,69.0,20:00,[1],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,0,0.042,4.2,07:00,"[1, 1]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0,0.017,1.7,11:30,0,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,0,0.253,25.3,08:45,[1],"['Water', 'Ground', 'Rock']","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0,0.012,1.2,19:00,[1],"['Water', 'Ground', 'Rock']","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'num', 'name', 'img', 'type', 'height', 'weight',
       'candy', 'candy_count', 'egg', 'spawn_chance', 'avg_spawns',
       'spawn_time', 'multipliers', 'weaknesses', 'next_evolution',
       'prev_evolution'],
      dtype='object')

In [5]:
df.drop(labels ='Unnamed: 0', axis = 1, inplace = True)

In [6]:
df.shape

(151, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int64
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    float64
 6   weight          151 non-null    float64
 7   candy           151 non-null    object
 8   candy_count     151 non-null    int64
 9   egg             151 non-null    int64
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    float64
 12  spawn_time      145 non-null    object
 13  multipliers     151 non-null    object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(4), int64(4), object(9)
memory usage: 20.2+ KB

In [8]:
df.describe()

,id,num,height,weight,candy_count,egg,spawn_chance,avg_spawns
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.0,151.000000,151.000000
mean,76.000000,76.000000,1.193841,45.951656,26.562914,0.0,0.731985,53.992603
std,43.734045,43.734045,0.961873,59.447988,43.837819,0.0,1.956376,111.156064
min,1.000000,1.000000,0.200000,0.100000,0.000000,0.0,0.000000,0.000000
25%,38.500000,38.500000,0.710000,9.900000,0.000000,0.0,0.015500,1.450000
50%,76.000000,76.000000,0.990000,30.000000,0.000000,0.0,0.074000,7.200000
75%,113.500000,113.500000,1.500000,56.250000,50.000000,0.0,0.620000,55.000000
max,151.000000,151.000000,8.790000,460.000000,400.000000,0.0,15.980000,712.000000

In [9]:
df.isnull().sum()

id                 0
num                0
name               0
img                0
type               0
height             0
weight             0
candy              0
candy_count        0
egg                0
spawn_chance       0
avg_spawns         0
spawn_time         6
multipliers        0
weaknesses         0
next_evolution    81
prev_evolution    79
dtype: int64

In [10]:
df1 = df.copy()

### - Get all Pokemons whose spawn rate is less than 5%

In [11]:
df1[df1['spawn_chance']<0.05]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,0,0.0420,4.20,07:00,"[1, 1]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0,0.0170,1.70,11:30,0,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0,0.0120,1.20,19:00,[1],"['Water', 'Ground', 'Rock']","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70,90.5,Charmander Candy,0,0,0.0031,0.31,13:34,0,"['Water', 'Electric', 'Rock']",NaN,"[{'num': '004', 'name': 'Charmander'}, {'num':..."
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,['Water'],0.99,22.5,Squirtle Candy,100,0,0.0340,3.40,07:02,[1],"['Electric', 'Grass']","[{'num': '009', 'name': 'Blastoise'}]","[{'num': '007', 'name': 'Squirtle'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01,60.0,None,0,0,0.0000,0.00,NaN,0,"['Water', 'Electric', 'Rock']",NaN,NaN
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99,16.5,Dratini Candy,100,0,0.0200,2.00,11:57,[2],"['Ice', 'Dragon', 'Fairy']","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]"
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21,210.0,Dratini Candy,0,0,0.0011,0.11,23:38,0,"['Ice', 'Rock', 'Dragon', 'Fairy']",NaN,"[{'num': '147', 'name': 'Dratini'}, {'num': '1..."
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN

### - Get all Pokemons that have less than 4 weaknesses

In [12]:
df_w = df1.copy()

In [13]:
df_w['weaknesses'].value_counts()

['Electric', 'Grass']                                          18
['Fighting']                                                   16
['Ground', 'Psychic']                                          10
['Water', 'Ground', 'Rock']                                    10
['Fire', 'Ice', 'Flying', 'Psychic']                            9
['Electric', 'Rock']                                            9
['Bug', 'Ghost', 'Dark']                                        8
['Flying', 'Psychic', 'Fairy']                                  7
['Ground']                                                      6
['Water', 'Grass', 'Ice']                                       6
['Water', 'Grass', 'Ice', 'Fighting', 'Ground', 'Steel']        6
['Fire', 'Flying', 'Psychic', 'Rock']                           5
['Electric', 'Grass', 'Fighting', 'Ground']                     4
['Ground', 'Psychic', 'Ghost', 'Dark']                          3
['Electric', 'Grass', 'Fighting', 'Rock']                       3
['Electric', 'Grass', 'Bug', 'Ghost', 'Dark']                   3
['Fire', 'Flying', 'Rock']                                      3
['Ice', 'Dragon', 'Fairy']                                      2
['Fire', 'Water', 'Ground']                                     2
['Water', 'Electric', 'Rock']                                   2
['Water', 'Ice', 'Ground', 'Psychic']                           2
['Fire', 'Ice', 'Poison', 'Flying', 'Bug', 'Rock']              2
['Electric', 'Ice', 'Psychic', 'Rock']                          2
['Electric', 'Ground', 'Psychic']                               2
['Fire', 'Electric', 'Ice', 'Flying', 'Rock']                   2
['Fire', 'Ice', 'Poison', 'Flying', 'Bug', 'Ghost', 'Dark']     2
['Water', 'Electric', 'Ice', 'Rock', 'Steel']                   1
['Fire', 'Ice', 'Poison', 'Flying', 'Bug']                      1
['Fire', 'Electric', 'Rock', 'Steel']                           1
['Electric', 'Grass', 'Flying', 'Psychic', 'Fairy']             1
['Fire', 'Bug', 'Rock', 'Ghost', 'Dark', 'Steel']               1
['Ice', 'Rock', 'Dragon', 'Fairy']                              1
['Ice', 'Rock']                                                 1
Name: weaknesses, dtype: int64

In [14]:
df_w['No. of weakness'] = df_w['weaknesses'].apply(lambda x: len(eval(x)))

In [15]:
df_w[df_w['No. of weakness'] < 4]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,No. of weakness
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,0,0.2530,25.30,08:45,[1],"['Water', 'Ground', 'Rock']","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN,3
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0,0.0120,1.20,19:00,[1],"['Water', 'Ground', 'Rock']","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]",3
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70,90.5,Charmander Candy,0,0,0.0031,0.31,13:34,0,"['Water', 'Electric', 'Rock']",NaN,"[{'num': '004', 'name': 'Charmander'}, {'num':...",3
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,['Water'],0.51,9.0,Squirtle Candy,25,0,0.5800,58.00,04:25,[2],"['Electric', 'Grass']","[{'num': '008', 'name': 'Wartortle'}, {'num': ...",NaN,2
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,['Water'],0.99,22.5,Squirtle Candy,100,0,0.0340,3.40,07:02,[1],"['Electric', 'Grass']","[{'num': '009', 'name': 'Blastoise'}]","[{'num': '007', 'name': 'Squirtle'}]",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01,60.0,None,0,0,0.0000,0.00,NaN,0,"['Water', 'Electric', 'Rock']",NaN,NaN,3
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80,3.3,Dratini Candy,25,0,0.3000,30.00,06:41,"[1, 1]","['Ice', 'Dragon', 'Fairy']","[{'num': '148', 'name': 'Dragonair'}, {'num': ...",NaN,3
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99,16.5,Dratini Candy,100,0,0.0200,2.00,11:57,[2],"['Ice', 'Dragon', 'Fairy']","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]",3
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN,3
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN,3

### - Get all Pokemons that have no multipliers at all

In [16]:
df1[df1['multipliers']== '0']

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0,0.0170,1.70,11:30,0,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70,90.5,Charmander Candy,0,0,0.0031,0.31,13:34,0,"['Water', 'Electric', 'Rock']",NaN,"[{'num': '004', 'name': 'Charmander'}, {'num':..."
8,9,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,['Water'],1.60,85.5,Squirtle Candy,0,0,0.0067,0.67,00:06,0,"['Electric', 'Grass']",NaN,"[{'num': '007', 'name': 'Squirtle'}, {'num': '..."
11,12,12,Butterfree,http://www.serebii.net/pokemongo/pokemon/012.png,"['Bug', 'Flying']",1.09,32.0,Caterpie Candy,0,0,0.0220,2.20,05:23,0,"['Fire', 'Electric', 'Ice', 'Flying', 'Rock']",NaN,"[{'num': '010', 'name': 'Caterpie'}, {'num': '..."
14,15,15,Beedrill,http://www.serebii.net/pokemongo/pokemon/015.png,"['Bug', 'Poison']",0.99,29.5,Weedle Candy,0,0,0.0510,5.10,04:50,0,"['Fire', 'Flying', 'Psychic', 'Rock']",NaN,"[{'num': '013', 'name': 'Weedle'}, {'num': '01..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,145,145,Zapdos,http://www.serebii.net/pokemongo/pokemon/145.png,"['Electric', 'Flying']",1.60,52.6,None,0,0,0.0000,0.00,NaN,0,"['Ice', 'Rock']",NaN,NaN
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01,60.0,None,0,0,0.0000,0.00,NaN,0,"['Water', 'Electric', 'Rock']",NaN,NaN
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21,210.0,Dratini Candy,0,0,0.0011,0.11,23:38,0,"['Ice', 'Rock', 'Dragon', 'Fairy']",NaN,"[{'num': '147', 'name': 'Dratini'}, {'num': '1..."
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN

### - Get all Pokemons that do not have more than 2 evolutions

In [32]:
df1[['type', 'next_evolution', 'prev_evolution']]

,type,next_evolution,prev_evolution
0,"['Grass', 'Poison']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,"['Grass', 'Poison']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,"['Grass', 'Poison']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,['Fire'],"[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,['Fire'],"[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
...,...,...,...
146,['Dragon'],"[{'num': '148', 'name': 'Dragonair'}, {'num': ...",NaN
147,['Dragon'],"[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]"
148,"['Dragon', 'Flying']",NaN,"[{'num': '147', 'name': 'Dratini'}, {'num': '1..."
149,['Psychic'],NaN,NaN
150,['Psychic'],NaN,NaN

### - Get all Pokemons whose spawn time is less than 300 seconds.

In [17]:
df2 = df1.copy()

In [18]:
def time_seconds(val): 
    if type(val)==str:
        #print(val)
        #print(type(val))
        s1 = int(val.split(':')[0])
        s2 = int(val.split(':')[1])
        #print(s1,s2)
        secs = s1*60 + s2
        #print(secs)
        return secs
    return 0

df2['Spawn_time_in_seconds'] = df2['spawn_time'].apply(time_seconds)

In [19]:
df2[df2['Spawn_time_in_seconds']<300]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,Spawn_time_in_seconds
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,['Water'],0.51,9.0,Squirtle Candy,25,0,0.5800,58.00,04:25,[2],"['Electric', 'Grass']","[{'num': '008', 'name': 'Wartortle'}, {'num': ...",NaN,265
8,9,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,['Water'],1.60,85.5,Squirtle Candy,0,0,0.0067,0.67,00:06,0,"['Electric', 'Grass']",NaN,"[{'num': '007', 'name': 'Squirtle'}, {'num': '...",6
10,11,11,Metapod,http://www.serebii.net/pokemongo/pokemon/011.png,['Bug'],0.71,9.9,Caterpie Candy,50,0,0.1870,18.70,02:11,"[3, 3]","['Fire', 'Flying', 'Rock']","[{'num': '012', 'name': 'Butterfree'}]","[{'num': '010', 'name': 'Caterpie'}]",131
12,13,13,Weedle,http://www.serebii.net/pokemongo/pokemon/013.png,"['Bug', 'Poison']",0.30,3.2,Weedle Candy,12,0,7.1200,712.00,02:21,"[1, 1]","['Fire', 'Flying', 'Psychic', 'Rock']","[{'num': '014', 'name': 'Kakuna'}, {'num': '01...",NaN,141
13,14,14,Kakuna,http://www.serebii.net/pokemongo/pokemon/014.png,"['Bug', 'Poison']",0.61,10.0,Weedle Candy,50,0,0.4400,44.00,02:30,"[3, 3]","['Fire', 'Flying', 'Psychic', 'Rock']","[{'num': '015', 'name': 'Beedrill'}]","[{'num': '013', 'name': 'Weedle'}]",150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,144,144,Articuno,http://www.serebii.net/pokemongo/pokemon/144.png,"['Ice', 'Flying']",1.70,55.4,None,0,0,0.0000,0.00,NaN,0,"['Fire', 'Electric', 'Rock', 'Steel']",NaN,NaN,0
144,145,145,Zapdos,http://www.serebii.net/pokemongo/pokemon/145.png,"['Electric', 'Flying']",1.60,52.6,None,0,0,0.0000,0.00,NaN,0,"['Ice', 'Rock']",NaN,NaN,0
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01,60.0,None,0,0,0.0000,0.00,NaN,0,"['Water', 'Electric', 'Rock']",NaN,NaN,0
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN,0
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0,0.0000,0.00,NaN,0,"['Bug', 'Ghost', 'Dark']",NaN,NaN,0

### - Get all Pokemon who have more than two types of capabilities

In [20]:
df3 = df1.copy()

In [21]:
t1 = df1['type'][1]
len(eval(t1))

2

In [22]:
df3['Capability Types'] = df3['type'].apply(lambda x : len(eval(x)) )

In [23]:
df3['type'].value_counts()

['Water']                 18
['Normal']                16
['Poison']                10
['Fire']                  10
['Grass', 'Poison']        9
['Normal', 'Flying']       8
['Electric']               8
['Psychic']                8
['Fighting']               7
['Ground']                 6
['Bug', 'Poison']          5
['Rock', 'Ground']         4
['Rock', 'Water']          4
['Ghost', 'Poison']        3
['Water', 'Psychic']       3
['Water', 'Ice']           3
['Bug']                    3
['Poison', 'Flying']       2
['Dragon']                 2
['Bug', 'Flying']          2
['Water', 'Poison']        2
['Fire', 'Flying']         2
['Grass', 'Psychic']       2
['Bug', 'Grass']           2
['Poison', 'Ground']       2
['Ground', 'Rock']         2
['Water', 'Flying']        1
['Dragon', 'Flying']       1
['Rock', 'Flying']         1
['Grass']                  1
['Ice', 'Flying']          1
['Electric', 'Flying']     1
['Water', 'Fighting']      1
['Ice', 'Psychic']         1
Name: type, dtype: int64

In [24]:
df3[df3['Capability Types'] > 2]

Empty DataFrame
Columns: [id, num, name, img, type, height, weight, candy, candy_count, egg, spawn_chance, avg_spawns, spawn_time, multipliers, weaknesses, next_evolution, prev_evolution, Capability Types]
Index: []